@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Muli', sans-serif;
    margin: 10px;
    justify-content: center;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    background-color: black;
}

.container{
    display: flex;
    width: 95vw;
}

h1{
    margin: 10px;
    color: #fff;
}

.module{
  display: flex;
    /* border: 10px solid;
    border-image-slice: 1;
    border-radius: 10px;
    border-width: 4px;
    margin-right: 550px;
    border-image-source: linear-gradient(to right, darkblue, darkorchid); */
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.panel{
    flex:0.5;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 4px;
    border-style:solid;
    overflow: hidden;
    height: 80vh;
    background-size: cover;
    margin: 10px;
    color: #fff;
    position: relative;
    transition: flex 0.5s ease-in;
    cursor: pointer;
}

.advanced__backgroundBody {
  padding: 10px;
  z-index: 2;
  position:  relative;
  font-size: small;
  overflow: hidden;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(4px);
  transition: 100ms backdrop-filter linear;
}

.panel h3{
    position: absolute;
    opacity:0;
    font-size: 26px;
    left: 20px;
    bottom: 10px;
    margin: 0;
}

.panel p{
    filter: brightness(100%);
    border: 10px solid;
  border-image: linear-gradient(45deg,red,blue) 10;
    position: absolute;
    opacity:0;
    font-size: 24px;
    left: 100px;
    top: 150px;
    right: 100px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity:1;
    transition: opacity 0.3s ease-in 0.4s;
}

.panel.active p{
    opacity:1;
    transition: opacity 0.3s ease-in 0.4s;
}
@media (max-width: 480px){
    .container{
        margin: 100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5){
        display: none;
    }
}
